@charset "utf-8";

.temporaryBox{
  display: none;
  text-align: center;
}
img{
  max-width: 720px;
}
h3{
  margin-top: 50px;
  text-align: center;
}
.btn{
  display: block;
  padding: 10px;
  margin: 0 auto;
}

/* Q3
--------------------------- */
.message {
  max-width: 600px;
  padding: 15px;
  margin: 25px auto;
  text-align: center;
  background-color: #FFCC99;
}

.video{
  text-align: center;
}
